/* Desktop (789px → ) */
@media (min-width: 850px) and (max-width:1000px) {

    /* --------------------------- */
    /* Reinitialisation navigateur */
    /* --------------------------- */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    button {
        border: none;
        box-shadow: none;
        outline: none;
        background: none;
    }

    /* --------------------------- */

    body {
        width: 620;
        margin-top: 60px;
        margin-left: 110px;
        margin-right: 110px;
        background-color: seagreen;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #61787F;
    }

    .header_pic {
        margin: 15px;
    }

    .header_text {
        margin-left: 40px;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 40px;
        /* Light */
        font-weight: 300;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .bloc_film {
        display: flex;
        flex-direction: column;
    }


    .bf_titre_autre {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .bf_menu {
        position: absolute;
        top: 40px;
        left: 160px;
        z-index: 10;
        color: black;
        font-size: 32px;
        /* Semi-bold */
        font-weight: 600;
        background-color: white;
    }

    .bf_menu li {
        border: 1px solid black;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bf_menu ul li:not(:first-child) {
        display: none;
    }

    .bf_menu:hover ul li {
        display: block;
    }

    /* Effet survol */
    .bf_menu li:hover {
        background-color: #f2f2f2;
    }



    .bf_titre,
    .bf_vignette_desc_titre {
        font-family: "Oswald", sans-serif;
        color: black;
        font-size: 40px;
        /* Semi-bold */
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .bf_vignette {
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-style: solid;
        border-color: black;
        border-width: 5px;
    }

    .bf_vignette_desc {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bf_vignette_desc_texte {
        align-self: center;
        font-family: "Oswald", sans-serif;
        color: black;
        font-size: 28px;
        /* ExtraLight */
        font-weight: 200;
    }

    .bf_vignette_desc_bouton {
        margin-left: auto;
        background-color: #FA0B0B;
        border-radius: 22px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 20px;
        /* Medium */
        font-weight: 500;
    }

    .bf_mosaik {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%
    }

    .tuiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .tuile_1,
    .tuile_2 {
        position: relative;
        height: 295px;
        width: 286px;
    }

    .tuile_3 {
        display: none;
    }

    .show_all_tiles .tuile_3 {
        display: flex;
    }


    .tuile_bloctexte {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 40px;
        padding: 15px;
        height: 120px;
        width: 251px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tuile_bloctexte_texte {
        font-family: "Oswald", sans-serif;
        color: white;
        /* Semi-bold */
        font-size: 24px;
        font-weight: 600;
        align-self: flex-start;
    }

    .tuile_bloctexte_button {
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 14px;
        /* Medium */
        font-weight: 500;
        background-color: black;
        border-radius: 25px;
        padding: 5px;
        align-self: flex-end;
    }

    .bf_voir_plus_bouton {
        background-color: #FA0B0B;
        border-radius: 22px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 20px;
        /* Medium */
        font-weight: 500;
    }

    /* -------------- MODALE ------------- */

    .modale {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 50px;
        z-index: 9999;
    }


    .hidden_modale {
        display: none;
    }

    .content {
        background-color: seagreen;
        padding: 20px;
        border-style: solid;
        border-color: black;
        font-family: "Oswald", sans-serif;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .icon_close_modal {
        padding: 20px;
        color: #FA0B0B;
        font-family: "Oswald", sans-serif;
        font-size: 32px;
        /* Medium */
        font-weight: 500;
    }

    .modal_desktop_pic {
        display: none;
    }

    .modal_tab_mob_pic {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .modal_tab_mob_pic img {
        width: 100%;
        height: auto;
    }

    .top_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .top_real {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .top_info_tit {
        font-size: 48px;
        /* Semi-bold */
        font-weight: 600;
    }

    .top_info_text {
        font-size: 24px;
        /* Semi-bold */
        font-weight: 600;
    }

    .top_real_tit {
        font-size: 24px;
        /* Regular */
        font-weight: 400;
    }

    .top_real_text {
        font-size: 24px;
        /* Light */
        font-weight: 300;
    }

    .desc_text {
        padding: 20px;
        font-size: 24px;
        /* Light */
        font-weight: 300;
    }

    .desc_avec {
        padding: 20px;
    }

    .desc_avec_tit {
        font-size: 20px;
        /* Regular */
        font-weight: 400;
    }

    .desc_avec_text {
        font-size: 20px;
        /* Light */
        font-weight: 300;
    }

    .btn_close_modal {
        display: none;
    }


}