/* Reinitialisation navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 110px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #61787F;
}

.header_pic {
    margin: 15px;
}

.header_text {
    margin-left: 40px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 300;
    /* Light */
}

main {
    display: flex;
    flex-direction: column;
}

.mf {
    display: flex;
    flex-direction: column;
}

.mf_vignette {
    display: flex;
    flex-direction: row;
}

.extralight-text {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    /* ExtraLight */
}

.light-text {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    /* Light */
}

.medium-text {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    /* Medium */
}

.semibold-text {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    /* SemiBold */
}