/* Reinitialisation navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 110px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #61787F;
}

.header_pic {
    margin: 15px;
}

.header_text {
    margin-left: 40px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 40px;
}